{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="auth-box">
        <div class="text-center">
            <a href="{% url 'home' %}" class="auth-logo">
                <img src="{% static 'images/Title-Png.png' %}" class="img-fluid" alt="Irugapatru Game">
            </a>
        </div>

        <div class="mb-3  pb-3 text-center">
            <h4 class="fw-normal"><span class="fw-bold" style="color:#1a1657;">Release Date: October
                    6, 2023 </span></h4>
        </div>

        
        <div class="mb-6 mt-6 pb-3"
        style="border-top:1px dashed #1a1664; padding:10px; text-align:left; height:450px; overflow-y:scroll;">
        <h4><span style="color:#1a1657; text-align:left;">Privacy Policy</span></h4>
        <b>Effective: 04 October 2023</b>
        <p>Potential Studios LLP has created this privacy statement in order to demonstrate our
            firm commitment to privacy. Potential Studios LLP is intended to provide fun and
            social resources for the users to experience the game. If the users are of below 18
            years of age, we provide this privacy policy to inform parents and legal guardians
            (collectively, “Parents”) about our privacy practices on our site
            irugapatru.com.</p>
        <h5>Information Automatically Logged</h5>
        <p>We use your IP address to help diagnose problems with our server and to administer
            our Web site. Your IP address is also used to gather broad demographic information.
            We also gather other information automatically and store it in log files, such
            information may include browser type, internet service provider (ISP),
            referring/exit pages, operating system, date/time stamp, and/or clickstream data. We
            use this information to help us design a website that is targeted to the interests
            of our visitors. We do link this automatically collected data to other information
            we collect about you.</p>
        <h5>Tracking Technologies and Cookies</h5>
        <p>Technologies such as: cookies, beacons, tags and scripts are used by Potential
            Studios LLP and our marketing, affiliates and analytics partners. These technologies
            are used in analyzing trends, administering the site, tracking users’ movements
            around the site, and to gather demographic information about our user base as a
            whole. We may receive reports based on the use of these technologies by these
            companies on an individual as well as aggregated basis.</p>
        <h5>Analytics</h5>
        <p>Potential Studios LLP uses third-party analytics software to provide us with
            information regarding the usage of the Website. The information we receive from such
            third-party analytics software is not Personal Information attributable to any user
            but rather information that is aggregated by the software so that we can track such
            things as how many users we have of the Website on a daily, weekly or monthly basis,
            what Website content or features our users are frequenting and the general
            geographic locations of our users.</p>
        <h5>Local Storage HTML5/LSO</h5>
        <p>We use Local Storage Objects (LSOs) such as Flash to store content information and
            preferences. Third parties with whom we partner to provide certain features on our
            site or to display advertising based upon your Web browsing activity use LSOs such
            as HTML 5 or Flash to collect and store information. Various browsers may offer
            their own management tools for removing HTML5 LSOs. </p>
        <h5>Security</h5>
        <p>The security of your personal information is important to us. We follow generally
            accepted industry standards to protect the personal information submitted to us,
            both during transmission and once we receive it. No method of transmission over the
            Internet, or method of electronic storage, is 100% secure, however. Therefore, we
            cannot guarantee its absolute security.</p>
        <h5>Children's Guidelines</h5>
        <p>We care about children and understand that they have special privacy needs.
            Therefore, we have adopted the following privacy policy regarding children:</p>

        <ul>
            <li>We will NOT collect, use, or distribute to third parties personally identifiable
                information without prior verifiable parental consent.</li>
            <li>When verifiable parental consent is not obtained, the virtual worlds we partner
                with will only use the online contact information (such as email) to:</li>
            <li>Respond directly to the child's request on a one-time basis and not use that
                information to re-contact the child for other purposes. Once we have responded
                to such request, we will delete the information provided immediately.</li>
            <li>Request the name or online contact information of a parent for the purpose of
                obtaining verifiable parental consent or providing parental notification.</li>
            <li>
                Respond more than once directly to a specific request from a child and not used
                to re-contact the child for other purposes. We will use our best efforts to
                provide parental notification, which will include the nature and intended use as
                well as an opportunity for the parent to prevent the use of the information and
                participation in the activity.</li>
            <li>We will provide you with a description of the specific types of a personally
                identifiable information collected on the site, for instance when you play the
                game, we may collect your name, email address and recipient’s name and email
                address. We do not store this information for any otherpurpose.</li>
        </ul>
        <h5>Social Media (Features) and Widgets</h5>
        <p>Our Web site includes Social Media Features, these Features may collect your IP
            address, which page you are visiting on our site, and may set a cookie to enable the
            Feature to function properly. Social Media Features and Widgets are either hosted by
            a third party or hosted directly on our Site. Your interactions with these Features
            are governed by the privacy policy of the company providing it. </p>
        <h5>Third Party Sharing</h5>
        <p>We will share your personal information only in the ways that are described in this
            privacy policy. We do not sell your personal information to third parties.
            We may provide your personal information to companies that provide services to help
            us with our business activities such as providing customer support or content
            management. These companies are authorized to use your personal information only as
            necessary to provide these services to us.</p>
        <p>We may also disclose your personal information as required by law, such as to comply
            with a subpoena, or similar legal process, when we believe in good faith that
            disclosure is necessary to protect our rights, protect your safety or the safety of
            others, investigate fraud, or respond to a government request.</p>
        <p>If we are involved in a merger, acquisition, or sale of all or a portion of our
            assets, you will be notified by prominent notice on our Web site of any change in
            ownership or uses of your personal information, as well as any choices you may have
            regarding your personal information.</p>
        <h5>Access to Personal Information</h5>
        <p>If your personally identifiable information changes, or if you no longer desire our
            service, you may correct, update, amend, delete/remove or deactivate it by emailing
            our Customer Support at <a
                href="mailto:info@potentialgroup.in">info@potentialgroup.in</a>. We will respond
            to your request to access within 30 days.</p>
        <h5>Data Retention</h5>
        <p>We will retain your information as needed to provide you services. If you wish to
            request that we no longer use your information to provide you services contact us at
            the email address provided above. We will retain and use your information as
            necessary to comply with our legal obligations, resolve disputes, and enforce our
            agreements.</p>
        <h5>Age Restricted Activities</h5>
        <p>Most of the activities and features on irugapatru.com are able to be enjoyed by all
            ages. On this website, we may ask users to specify their age. We use cookies to
            remember whether or not the user is over the age of 18 in order to tailor their
            experience while using irugapatru.com.</p>
        <h5>Changes in this Privacy Policy</h5>
        <p>We may update this privacy policy to reflect changes to our information practices. If
            we make material changes, we will notify you by means of a notice on this Site prior
            to the change becoming effective. We encourage you to periodically review this page
            for the latest information on our privacy practices.
            If we make material changes to how we use personal information collected from users
            under 18, we will notify parents by e-mail (if possible), or by means of a notice on
            this Site in order to obtain verifiable consent for the new uses of the child's
            personal information.</p>

    </div>

    </div>


{% endblock %}